[submodule "src/core"]
	path = src/core
	url = git@github.com:mass-spatialarch/core.git
	branch = master
[submodule "src/noc"]
	path = src/noc
	url = git@github.com:mass-spatialarch/noc.git
	branch = master
[submodule "pybind11"]
	path = pybind11
	url = git@github.com:pybind/pybind11.git
