[submodule "src/core"]
	path = src/core
	url = git@github.com:mass-spatialarch/core.git
	branch = dev
[submodule "src/noc"]
	path = src/noc
	url = git@github.com:mass-spatialarch/noc.git
	branch = dev
